@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CurrentStock

@{
    ViewData["Title"] = $"Edit {Model.Make} {Model.Model}";
    string imagedata_as_string = "";
}

<div>
    <h1>Edit @Model.Year @Model.Make @Model.Model</h1>
    <div>
        @if (Model.Image != null) {
            imagedata_as_string = $"data:{Model.Image.FileName};base64,{Convert.ToBase64String(Model.Image.image_data)}";
        }

        <img src="@imagedata_as_string" alt="Car Image" style="width:200px;height:auto" />

        <form asp-action="EditPrice" asp-controller="Admin" method="post">
            <label>Current Price</label>
            <input readonly value="@Model.Price"/>

            <label>New Price</label>
            <input for="id" name="id" value="@Model.ID" hidden />
            <input name="price" for="price" />
            <button type="submit">Confirm</button>
        </form>
    </div>
</div>