@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Home";
}

@model List<CurrentStock>

<div>
    <h1>Current Stock</h1>
    @foreach (var item in Model) {
        <hr />
        

        <div>
            <img src="data:@item.Image.FileName;Base64,@Convert.ToBase64String(item.Image.image_data)" alt="Car Image" style="width:200px;height:auto" />

            <p>Make: @item.Make</p>
            <p>Model: @item.Model</p>
            <p>Year: @item.Year</p>
            <p>Vin: @item.Vin</p>
            <p>License: @item.License</p>

            <p>Price: @item.FPrice</p>
        </div>
        <form asp-action="Edit" asp-controller="Admin" method="get">
            <input type="hidden" name="ID" value="@item.ID" />
            <button type="submit">Edit</button>
        </form>
        <form asp-action="Delete" asp-controller="Admin" method="get">
            <input type="hidden" name="ID" value="@item.ID" />
            <button type="submit">Delete</button>
        </form>
        <hr />
    }
</div>
