@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    string imagedata_as_string = "";
}

@model List<CurrentStock>

<div>
    <h1>Shop our items</h1>
    @foreach (CurrentStock item in Model) {
        <hr />
        <div>
            @if (item.Image != null) {
                imagedata_as_string = $"data:{item.Image.FileName};base64,{Convert.ToBase64String(item.Image.image_data)}";
            }

            <img src="@imagedata_as_string" alt="Car Image" style="width:200px;height:auto" />

            <p>Make @item.Make</p>
            <p>Model @item.Model</p>
            <p>Vin @item.Vin</p>
            <p>License @item.License</p>
            <p>Price R @item.Price</p>
        </div>
        <hr />
    }

</div>
