<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DealsForYou</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DealsForYou.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-logo">
                <img src="~/resources/Logo.jpg" alt="DealsForYou Logo" />
            </div>
            <div class="navbar-links">
                @if (AppStateModel.State == 0) {
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Login", "Home")">Login</a></li>
                        <li><a href="@Url.Action("Register", "Home")">Register</a></li>
                    </ul>
                } else if (AppStateModel.State == 1) {
                    <ul>
                        <li><a href="@Url.Action("Index", "Users")">Shop</a></li>
                        <li><a href="@Url.Action("ViewTransaction", "Users")">Transactions</a></li>
                        <li><a href="@Url.Action("ViewAllInvoices", "Users")">Invoices</a></li>
                        <li><a href="@Url.Action("Profile", "Users")">Profile</a></li>
                        <li><a href="@Url.Action("LogOut", "Users")">Log Out</a></li>
                    </ul>
                } else {
                    <ul>
                        <li><a href="@Url.Action("Index", "Admin")">Manage</a></li>
                        <li><a href="@Url.Action("AddStock", "Admin")">Add</a></li>
                        <li><a href="@Url.Action("Offers", "Admin")">Offers</a></li>
                        <li><a href="@Url.Action("ViewAllInvoices", "Admin")">Invoices</a></li>
                        <li><a href="@Url.Action("Profile", "Admin")">Profile</a></li>
                        <li><a href="@Url.Action("LogOut", "Admin")">Log Out</a></li>
                    </ul>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p>Cam is fantastic</p>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>