@{
    ViewData["Title"] = "Home";
}

@model List<CurrentStock>

<div>
    <h1>Shop Our Items</h1>
    @foreach (CurrentStock item in Model) {
        <hr />
        <div>
            <img src="data:@item.Image.FileName;Base64,@Convert.ToBase64String(item.Image.image_data)" alt="Car Image" style="width:200px;height:auto" />

            <p>Make: @item.Make</p>
            <p>Model: @item.Model</p>
            <p>Year: @item.Year</p>
            <p>Price: @item.FPrice</p>
        </div>

        <form asp-action="ViewDetails" asp-controller="Users" method="get">
            <input name="id" for="id" value="@item.ID" hidden/>
            <button type="submit">View Details</button>
        </form>
        <hr />
    }

</div>
