@model CurrentStock

@{
    ViewData["Title"] = $"{Model.Year} {Model.Make} {Model.Model}";
}

<div class="car-details-container">
    <h1 class="car-details-title">Car Details</h1>

    <div class="car-info">
        <h2 class="car-title">@Model.Year @Model.Make @Model.Model</h2>
        <img src="data:@Model.Image.FileName;Base64,@Convert.ToBase64String(Model.Image.image_data)" class="car-image" alt="Car Image" />
    </div>

    <div class="car-details">
        <ul class="car-specs">
            <li><strong>Vin Number:</strong> @Model.Vin</li>
            <li><strong>License:</strong> @Model.License</li>
        </ul>

        <h3 class="car-price">Price: @Currency.GetCurrency(Model.Price)</h3>

        <div class="button-group">
            <form asp-action="Payment" asp-controller="Users" method="post">
                <input name="id" value="@Model.ID" type="hidden" />
                <button type="submit" class="btn btn-primary">Continue To Payment</button>
            </form>

            <form asp-action="Index" asp-controller="Users" method="get">
                <button type="submit" class="btn btn-secondary">Go Back</button>
            </form>
        </div>
    </div>
</div>
